.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 32px;
  grid-column: 1 / -1;

  &__arrow,
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border: none;
    border-radius: 32px;
    background: var(--color-bg-light);
  }

  &__arrow {
    margin: 0 12px;
    cursor: pointer;
    &_disabled {
      pointer-events: none;
      opacity: 0.1;
    }
  }

  &__number {
    font-size: 18px;
    width: auto;
    padding: 8px 16px;
    color: var(--color-text);

    &_active {
      background: var(--color-bg-medium);
    }
  }
}
