.loader-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}
.loader {
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 1px no-repeat;
  animation: loading 2s linear infinite;

  &::after {
    content: 'Loading...';
  }
}
@keyframes loading {
  to {
    background-size: 100% 1px;
  }
}
