.books-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  list-style-type: none;
  height: calc(100svh - 272px);
  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 65px;
  -webkit-mask-image: linear-gradient(black, black 85%, transparent);
  mask-image: linear-gradient(black, black 85%, transparent);
  &::-webkit-scrollbar {
    width: 0;
  }

  &__nothing {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 14px;
    color: var(--color-text);
    opacity: 0.7;
  }

  @container main (min-width: 988px) {
    grid-template-columns: repeat(2, calc(50% - 6px));
  }
}
